#black {
    background-color: #23211f;
}

#red {
    background-color: #ca3d22;
}

#blue {
    background-color: #565681;
    padding: 18px 22.2px;
}

#purple {
    background-color: #8a5362;
}

#pink {
    background-color: #e9c7be;
    padding: 18px 22.2px;
}

.colorPicks {
    width: 15px;
    height: 10px;
    border-radius: 6px;
    margin-right: 12px;
    margin-top: 15px;
    display: inline-block;
    padding: 18px 22px;
}